body {
      background-image: url("/img/img.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}

/* Estilo para centrar y aplicar fondo semi-transparente a los formularios */
.login-content {
    background: rgba(255, 255, 255, 0.95); /* Fondo blanco con opacidad */
    padding: 2rem; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para diferenciar */
    max-width: 400px; /* Ancho máximo */
    width: 100%;
    text-align: center;
}

.button {
    background: rgba(52, 143, 80, 1);
}





